
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color:#333333;
}

.header{
    display: flex;
    min-height: 76px;
    align-items: center;
    justify-content: space-between;
    padding:  20px 9em ;
    border-bottom: 1px solid #EFF5FB;
 
}

.header__list{
    display: flex;
    gap: 2em;
    padding-right: 13rem;
}

.header__link{
    font-size: 1em;
    font-weight: 500;
    
}

.header__btn{
    font-weight: bold;
    font-size: 1.1em;
    border: none;
    color: #03B2A5;
    background-color: rgba(227, 245, 245, 1) ;
    border-radius: 4px;
    padding: 14px 20px;
    cursor: pointer;
}
main{
    width: 67.5em;
    padding:  0 9em ;
    line-height: 24px;
  .hero{
    .intro{
    font-size: 0.9rem;
    color: rgba(51, 51, 51, 0.7);
    span{
        padding-left: 10px;
    }
    }
        .hero__info-block{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-flow: column;
        }
            .hero__heading{
                font-size: 48px;
                width: 45rem;
                min-height: 2vw;
                font-weight: bolder;
                line-height: 56px;
            }
            .hero__text{
                font-size: 1em;
                color: #494949;
                span{
                  padding-right: 10px;
                }
            }
            .hero__img{
              width: 690px;
              padding-top: 1rem;
            }
  }
    .content{
        .content__text{
          font-size: 1em;
          font-weight: bolder;
          color: #333333;
          padding-top: 1em;
        }
        .content__nav{
          
          padding-top: 0.5rem;
          .content__list{
            
            .content__list_item{
              padding-top: 0.5rem;
              .content__link{
                
                text-decoration: underline;
                
              }
                    
            }
              
          }
        }
    }
  .main-skill{
    .main-skill__container{
      font-size: 16px;
      color:#333333;
      font-weight: 500;
      
      .main-skill__container_heading{
        font-size: 28px;
        color:#333333;
        font-weight: 700;
      }
      .main-skill__container_quote{
        font-style: italic;
        margin-top: 40px;
        padding: 24px 24px 4px;
        background-image: url(../img/svg/Vector\ \(3\).svg);
        background-repeat: no-repeat;
        background-position: 24px 24px;
        background-color: #F3F7FE;
        border-radius: 16px;
      }
    }
  }
  .danger{
    .danger__container{
      font-size: 16px;
      color:#333333;
      font-weight: 500;
      .danger__container_heading{
        font-size: 28px;
        color:#333333;
        font-weight: 700;
      }
        .danger__container_markers{
        font-size: 16px;
        display: flex;
        flex-direction: column;
        
        li{
        list-style-type: disc ;
        margin-bottom: 20px;
        line-height: 24px;
        }
      }
      .danger__container_annotation{
        font-size: 14px;
        line-height: 18.2px;
        font-weight: 400;
        color: #868686;
      }
      .danger__container_quote{
        display: block;
        font-style: italic;
        text-align: center;
        padding: 48px 102px 72px ;
        background-image: url(../img/svg/Vector.svg);
        background-repeat: no-repeat;
        background-position: 50%;
      }
      .danger__container_description{
        display: flex;
        margin: 24px 0;
        gap: 20px;
        justify-content: flex-start;
        p{
          margin: 0;
        }
      }
      .danger__container_exercise{
        padding: 24px;
        margin: 24px 0;
        background-color: #FEFAEC;
        border-radius: 16px;
        .danger__container_exercise_heading{
          font-size: 16px;
          font-weight: 700;
          margin: 0;
        }
      }
    } 
  }
  .advice{
    .advice__container{
      font-size: 16px;
      color:#333333;
      font-weight: 500;
      .advice__container_heading{
        font-size: 28px;
        color:#333333;
        font-weight: 700;
      }
      .advice__container_markers{
        font-size: 16px;
        display: flex;
        flex-direction: column;
        
        li{
        list-style-type: disc ;
        margin-bottom: 20px;
        line-height: 24px;
        }
      }
      .advice__container_description{
        display: flex;
        margin: 24px 0;
        gap: 30px;
        justify-content: flex-start;
        p{
          margin: 0;
        }
      }
      .advice__container_exercise{
        padding: 24px;
        margin: 24px 0;
        background-color: #FFF3EB;
        border-radius: 16px;
        .advice__container_exercise_heading{
          font-size: 16px;
          font-weight: 700;
          margin: 0;
        }
      }
      .advice__container_info-page{
        display: flex;
        gap: 24px;
        padding-bottom: 24px;
      }
      .advice__container_flash{
        margin: 0 37% 24px;
      }
      .advice__container_exercise{
        padding: 24px;
        margin: 24px 0;
        background-color: #03B2A51A;
        border-radius: 16px;
        .advice__container_exercise_heading{
          font-size: 16px;
          font-weight: 700;
          margin: 0;
        }
      }

    }
    .autro{
      font-size: 0.9rem;
      color: #2963A3;
      span{
          padding-right: 10px;
      }
      }
  }
}